AddType image/svg+xml svg
AddType image/svg+xml svgz

<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{REQUEST_URI} !(\.png|\.jpg|\.gif|\.jpeg|\.svg|\.ico|\.css|\.js|\.otf|\.ttf)$
RewriteRule (.+) index.php?url=$1 [QSA,L]

</IfModule>