@font-face {
  font-family: 'MuseoModerno-Regular';
  src: url('/app/assets/fonts/MuseoModerno-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('/app/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: 'OpenSans-Regular';
  background-color: #f5f6fa;
}

#error {
    font-size: 0.7rem;
    width: 74%;
    margin: 0 0 0 15%;
    color: #fff;
    background: #B71C1C;
    padding: 0.5rem 1.2rem;
}

#success {
  font-size: 0.7rem;
  width: 74%;
  margin: 0 0 0 15%;
  color: #fff;
  background: #009688;
  padding: 0.5rem 1.2rem;
}

main {
    flex: 1 0 auto;
}

#left_pane {
  float: left;
  width: 20%;
  min-height: 100%;
  height: 100%;
  margin: 0;
  background-color: #fff;
  position: fixed;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 15%;
  margin-top: 20%;
  text-align: center;
}

header .logo {
  display: block;
  height: 35%;
  width: 100%;
  color: #000;
  font-size: 1.2rem;
  font-family: 'MuseoModerno-Regular';
}

header .logo img{
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2%;
}

#menu {
  width: 100%;
  flex: 1 0 auto;
}

#profile {
    flex-shrink: 0;
    height: 4vw;
    margin: 0 10%;
    margin-bottom: 10%;
    overflow: hidden;
}

#profile .profile_image {
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  height: 4vw;
  width: 4vw;
  float: left;
}
#profile .name {
  font-size: 0.8rem;
  font-weight: bold;
  margin-left: 1vw;
  font-family: 'MuseoModerno-Regular';
}

#profile .email {
  font-size: 0.6rem;
  margin-left: 1vw;
  font-family: 'MuseoModerno-Regular';
}

#menu span{
  height: 5vh;
  width: 100%;
  display: block;
  text-align: center;
  margin-left: -5%;
}

#menu a{
  font-size: 0.9rem;
  font-weight: bold;
  color:#51489a;
  cursor: pointer;
  opacity: 0.6;
}

#menu a:hover{
  opacity: 1;
}

#menu img{
  height: 60%;
  vertical-align: middle;
  margin-right: 0.2vw;
}

#logout {
  height: 6vh;
  background: #eee;
  text-align: center;
}

#logout img {
  height: 40%;
  margin: 3%;
  vertical-align: middle;
  margin-left: -10%;
}

#logout a {
  cursor: pointer;
  font-size: 0.8rem;
}

#right_pane {
  width: 80%;
  height: 100%;
  margin-left: 20%;;
  display: inline-block;
  text-align: left;
  background-color: #eff2f8;
  padding: 3vh 5vw;
}

#action_bar {
  height: 10vh;
  display: flex;
  align-items: center;
  direction: rtl;
}

#createDocument {
  cursor: pointer;
  font-family: 'OpenSans-Regular';
  background: #51489a;
  color: #fff;
  box-shadow: 0 0 10px 0.1px rgba(72, 107, 154, 0.4);
  border: 0;
  outline: 0;
  border-radius: 10rem;
  padding: 0.5rem 1.7rem;
  font-size: 0.8rem;
}

#progress {
  position: fixed;
  z-index: 1;
  top: 0;
  left: -1%;
  width: 1%;
  height: 3px;
  background-color: #000;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -moz-transition: width 600ms ease-out, opacity 500ms linear;
  -ms-transition: width 600ms ease-out, opacity 500ms linear;
  -o-transition: width 600ms ease-out, opacity 500ms linear;
  -webkit-transition: width 600ms ease-out, opacity 500ms linear;
  transition: width 1000ms ease-out, opacity 500ms linear;
}
#progress b,
#progress i {
  position: absolute;
  top: 0;
  height: 3px;
  -moz-box-shadow: #777777 1px 0 6px 1px;
  -ms-box-shadow: #777777 1px 0 6px 1px;
  -webkit-box-shadow: #777777 1px 0 6px 1px;
  box-shadow: #777777 1px 0 6px 1px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
#progress b {
  clip: rect(-6px, 22px, 14px, 10px);
  opacity: .6;
  width: 20px;
  right: 0;
}
#progress i {
  clip: rect(-6px, 90px, 14px, -6px);
  opacity: .6;
  width: 180px;
  right: -80px;
}
footer {
  flex-shrink: 0;
  font-size: 0.8vw;
  background: rgba(0,0,0,0.01);
  margin-top: 2vw;
  padding: 0.5vw 7vw;
}

footer img {
  height: 1.5vw;
  vertical-align: middle;
}

footer #copyright {
  float: right;
  font-weight: bold;
}

@media screen and (max-width: 600px) {

}
