/*@font-face {
  font-family: 'SpaceMono';
  src: url('../fonts/SpaceMono-Regular.ttf') format('truetype');
}
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-family: 'OpenSans';
  margin: 0;
}

header {
  margin: 2vw 7vw;
  margin-bottom: 0;
}

footer {
  font-family: 'SpaceMono';
  font-size: 0.8vw;
  background: rgba(0,0,0,0.01);
  margin-top: 2vw;
  padding: 0.5vw 7vw;
}

footer img {
  height: 1.5vw;
  vertical-align: middle;
}

footer #copyright {
  float: right;
  font-weight: bold;
}


@media screen and (max-width: 600px) {
  
}
